# Runtime dependencies for Transcriber-CLI-V3
boto3
Pillow
requests
art
# Segmentation dependencies
opencv-python
openvino
numpy
paddleocr
paddlepaddle
#MP add 3.26 we seem to need this one to run in colab
pytesseract
beautifulsoup4
